*{
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #E5E5E5;
    position: relative;
}
.escondido{
    display: none;
}
.emcima{
    position: absolute;
    left: 0;
    top: 0;
}
.chat{
    z-index: 5;
}
.barra-superior{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

.barra-superior ion-icon{
    height: 45px;
    width: 45px;
    cursor: pointer;
}
.barra-inferior{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
    padding: 25px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    opacity: 1;
}
.barra-inferior ion-icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.barra-inferior input{
    height: 30px;
    width: 88%;
}
.barra-lateral{
    width: 259px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
}
.barra-lateral p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    height: 84px;
}
.menu-barra-lateral{
    width: 100vw;
    display: flex;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.item-lista-contatos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    margin-left: 18px;
}
.item-lista-contatos span{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.item-lista-contatos ion-icon{
    height: 25px;
    width: 25px;
    margin-right: 7px;
}

.area-mensagens{
    margin-top: 106px;
    margin-bottom: 80px;
    overflow-y: scroll;
}
.msg-status{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 40px;
    background-color: #DCDCDC;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-family: "Roboto", sans-serif;
}
.msg-normal{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 8px;
    overflow-y: hidden;
    max-height: fit-content;
}
.msg-reservada{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 40px;
    background-color: #ffdede;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 8px;
    overflow-y: hidden;
    max-height: fit-content;
}
.entrada-sala{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.hora{
    color: #AAAAAA;
    font-weight: normal;
}
b{
    margin-left: 4px;
    margin-right: 3px;
}


